body {
	overflow-x: hidden;
	background-color: #E3E8EB !important;
}

.left {
	background-color: #2A58AD;
	height: 100%;
}

.small-profile {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid green;
	background-size: cover;
	background-image: url('../images/man.jpg');
}

.position {
	color: #2585CF;
	font-size: 18px;
	font-weight: bold;
}

.update {
	background-color: transparent;
	color: #FFFFFF;
	border-radius: 30px;
	border: 2px solid #2585CF;
	padding: 5px 15px;
	font-size: 14px;
}

.dashboard {
	box-sizing: border-box;
	border-left: 5px solid #2A58AD;
	padding: 35px;
	cursor: pointer;
}

.dashboard-icon {
	color: #A1B8D7;
	font-size: 45px;
}

.dash-link {
	color: #A1B8D7;
	font-weight: bold;
	font-size: 17px;
}

.dashboard:hover, .active {
	border-left: 5px solid #24B5F4;
	background-color: #1D4C9E;
}

.dashboard:hover .dashboard-icon {
	color: #FFFDFE;
}

.dashboard:hover .dash-link {
	color: #FFFDFE;
}

.link {
	font-size: 18px;
	font-weight: bold;
	color: #042342 !important;
	border-bottom: 3px solid #ffffff;
}

.link:hover {
	color: #079FEA !important;
	border-bottom: 3px solid #079FEA;
}

.search {
	margin-right: 200px;
	color: #92A6B1;
	font-size: 20px;
}

.icon {
	color: #99ACB3;
	font-size: 20px;
}

.quantity {
	width: 17px;
	height: 17px;
	background-color: #079FEA;
	color: #FFFFFF;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	position: absolute;
	left: 20px;
	top: 10px;
}

.big-avatar {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	background-image: url('../images/man.jpg');
	background-size:cover;
	margin: 0 auto;
}

.blue {
	color: #079FEA;
}

.gray {
	color: #607286;
}

.lightgray {
	color: #ACB5BE;
}

.darkblue {
	color: #0A3F9F;
}

.num {
	font-size: 40px;
}

.follow {
	color: #fff;
	background-color: #079FEA;
	border-radius: 30px;
	border:none;
	padding: 5px 20px;
	margin-right: 15px;
	font-size: 16px;
}

.message {
	color: #fff;
	background-color: #68BB2F;
	border-radius: 30px;
	border:none;
	padding: 5px 20px;
	margin-right: 15px;
	font-size: 16px;
}

.green {
	color: #68BB2F;
}

.big-num {
	font-size: 60px;
}

.num-desc {
	font-size: 16px;
}

.num2 {
	font-size: 30px;
}

.green-circle {
	width: 100px;
	height: 100px;
	background-color: #68BB2F;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: white;
	font-size: 30px;
	margin: 0 auto;
}

.blue-circle {
	width: 100px;
	height: 100px;
	background-color: #079FEA;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: white;
	font-size: 30px;
	margin: 0 auto;
}

.small-circle-green {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #68BB2F;
}

.small-circle-blue {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #079FEA;
}

.num2-desc {
	margin-top: -20px;
}

.white-square {
	min-height: 320px;
}

.rect {
	border-radius: 10px;
	box-shadow: 0 10px 10px #ECF1F4;
}

.for-photo {
	width: 100%;
	height: 200px;
	background-size: cover;
	border-radius: 10px 10px 0 0 ;
}

.num3 {
	font-size: 25px;
}

.follow2 {
	border-radius: 30px;
	padding: 5px 15px;
	width: 100%;
	border: 1px solid #079FEA;
	background-color: transparent;
}

button:focus {
	outline: none !important;
}

.avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-size: cover;
	background-image: url('../images/man.jpg');
}

.dots {
	font-size: 25px;
}

.user-info {
	width:300px;
	position: absolute;
	left: 90px;
	top: -70px;
	border-radius: 7px;
	display: none;
	z-index: 5;
}

.user-info:before {
	content: '';
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #23AAEA;
    border-bottom: 10px solid transparent;
    position:absolute;
    right:100%;
    top:20%;
}



.for-info {
	background-color: #23AAEA;
	border-radius: 7px 7px  0 0;
}

.info-photo {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 0 auto;
	background-image: url('../images/man.jpg');
	background-size: cover;
}

.small {
	font-size: 14px !important;
}

.dots:hover > .user-info {
	display: block;
}

@media screen and (max-width: 1199px){
	.user-info {
		left: -230px;
		top: 120px;
	}

	.user-info:before {
		content: '';
	    width: 0px;
	    height: 0px;
	    border-top: 10px solid transparent;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-bottom: 10px solid #23AAEA;
	    position:absolute;
	    right: 10%;
	    top: -20px;
	}
}

@media screen and (max-width: 991px){
	.user-info {
		left: 30%;
		top: 60px;
	}
	.user-info:before {
		content: '';
	    width: 0px;
	    height: 0px;
	    border-top: 10px solid transparent;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-bottom: 10px solid #23AAEA;
	    position:absolute;
	    right: 50%;
	    top: -20px;
	}
	.navbar {
		position:fixed !important;
		top:0;
		width:100%;
		padding: 20px;
		z-index: 10;
	}
}

.padd5 {
	padding: 50px;
}

.padd4 {
	padding: 40px;
}

@media screen and (max-width: 575px){
	.user-info {
		left: 10%;
		top: 60px;
		width: 200px;
	}

	.big-avatar {
		width: 100px;
		height: 100px;
	}

	.padd4 {
		padding: 15px;
	}

	.padd5 {
		padding: 15px;
	}
}